---
import Header from '@/components/layout/Header.astro'
import Footer from '@/components/layout/Footer.astro'
import MissingTranslationBanner from '@/domain/i18n/components/MissingTranslationBanner.astro'
---

<div class='wrapper'>
  <Header />
  <main>
    <MissingTranslationBanner />
    <slot />
  </main>
  <Footer />
</div>
